<div class="grid-content">
    <h4>{{message}}</h4>
    <p class="group-messages"></p>
</div>
<div class="message-input grid-content shrink">
    <form action="">
        <span class="inline-label">
            <input class="user-message" placeholder="Message" type="text" autofocus>
            <input class="button" type="button" value="Send">
        </span>
    </form>
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="assets/js/chat.js"></script>