<div class="grid-content form-login">
    <h3>Login</h3>
    <form action="/login" method="POST">
        <label for="username">Username *required</label>
        <input name="username" placeholder="Username" type="text" value="{{username}}" required>
        <label for="password">Password *registered user</label>
        <input name="password" placeholder="Password" type="password">
        <input class="button expand" type="submit" value="Submit">
    </form>
    {{message}}
</div>